.li {
  display: grid;
  justify-self: center;
}

.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  height: fit-content;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-style: solid;
  border-color: #7d7d81;
  border-width: 1px;
  transition: all 0.1s;
  margin-bottom: 15px;
  background-color: transparent;
}
.banners:hover {
  border-width: 1px;
  transform: translate(0, -0.2rem);
  border-color: #f8f6f4;
}

.banners:hover .lname {
  font-weight: bold;
  text-shadow: 0px 0px 10px #f8f6f4;
}
.banners:hover iconify-icon {
  text-shadow: 0px 0px 2px #f8f6f4;
  color: #f8f6f4;
}
.banners:active {
  transform: translate(0);
  box-shadow: none;
}
.lname {
  font-size: 21px;
  color: #f1ebe1;
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.logo {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 350px) {
  .banners {
    gap: 25px;
    width: 240px;
  }
  .lname {
    font-size: 20px;
  }
  .logo {
    font-size: 22px;
  }
}
@media only screen and (max-width: 650px) {
  .lname {
    font-size: 18px;
  }
  .banners {
    border-width: 1px;
    transform: translate(-0.25rem, -0.25rem);
    border-color: #7d7d81;
  }
  .banners:hover {
    border-width: 1px;
    transform: translate(-0.25rem, -0.25rem);
    border-color: #f1ebe1;
  }
  .banners:active {
    transform: translate(0);
    box-shadow: none;
  }
}
