@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Merienda&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.banners:hover #logo {
  color: white;
}
main {
  width: 100%;
  height: 100%;
}

.name {
  color: transparent;
  -webkit-text-stroke: 1px #d5d5d5;
  margin-top: 1px;
  justify-self: center;
  display: flex;
}
